@import "@styles/App.scss";

// .contactUs {
//   position: relative;
.contact {
  @include flex;
  position: relative;
  width: 100%;
  height: 500px;
  box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(5px);
  border-radius: 20px;
  padding: 20px 30px;
  z-index: 10;

  form {
    @include flex($dir: column, $gap: 20px);
    padding: 32px;
    border-radius: 24px;
    width: 400px;
    background-color: $white;

    .areaWrapper {
      @include flex;
      position: relative;
      width: 300px;
      border: 1px solid black;
      border-radius: 10px;

      label {
        transition: 0.4s;
        position: absolute;
        background-color: $white;
        padding: 0 3px;
        top: 40%;
        left: 50%;
        translate: -50% -50%;
        font-size: 18px;
        letter-spacing: .5px;
        cursor: pointer;

        &:has(+textarea:focus) {
          top: -10px;
          left: 10px;
          translate: 0;
          color: #00000075;
          background-color: $white;
          font-size: 16px;
        }

        &.filled{
          top: -10px;
          left: 10px;
          translate: 0;
          color: #00000075;
          background-color: $white;
          font-size: 16px;
        }
      }

      textarea {
        width: 100%;
        height: 100px;
        padding: 15px 10px;
        border: none;
        border-radius: 10px;
        font-size: 18px;
        letter-spacing: .5px;

        &:focus {
          outline: none;
        }
        cursor: pointer;
        resize: none;
      }
    }
    input[type=submit]{
      width: 300px;
      height: 45px;
      border-radius: 10px;
      border: none;
      background-color: $orange;
      font-size: 22px;
      cursor: pointer;
    }
  }
}
// }
